/* RESET BOX SIZING FOR WHOLE COMPONENT */

.up-container {
	box-sizing: border-box;

	*,
	*:before,
	*:after {
		box-sizing: inherit;
	}
}

/* MODIFIERS */

.is-rounded {
	border-radius: 10000px;
}

/* ANIMATIONS */

@keyframes spinAround {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

@keyframes heartbeat {
	0% { transform: scale(1); }
	50% { transform: scale(1.4); }
	100% { transform: scale(1); }
}

@keyframes pulsing {
	0% { transform: scale(1); }
	50% { transform: scale(1.2); }
}

/* FONTAWESOME SVG STYLING */

.svg-inline--fa.fa-w-18 {
	width: 1.125em;
}

svg:not(:root) {
	overflow: hidden;
}

.svg-inline--fa {
	display: inline-block;
	font-size: inherit;
	height: 1em;
	overflow: visible;
	vertical-align: -.125em;
}